body{
  background-color:lavender;
}

.navbar{
  background-color:white;
}

.jumbotron{
  text-align: center
}
.container-fixed {
  background-color:#fff;
  margin-top:20px;
  padding:10px 10px;
  border-radius: 15px 40px;
}

.row{
  margin-bottom: 10px;
}

.flash_message {
  color:red
}
