<h2>Login to Doula Mynder</h2>
<form method="POST" action="/login">
  <label for="username">Username: </label>
  <input type="text" name="username" id="username" />
  <label for="username">Password: </label>
  <input type="text" name="password" id="password" />
  <input type="submit" value="Login" id="submit" />
</form>
<%if flash.has?(:message)%>
  <%=flash[:message]%>
<%end%>
