<h2>Add a New Client</h2>
<form method="POST" action="/clients">
  <label for="client[name]">Client Name: </label>
  <input type="text" name="client[name]" id="client_name" />
  <label for="client[age]">Age: </label>
  <input type="number" name="client[age]" id="age" />
  <label for="client[partner_name]">Partner Name: </label>
  <input type="text" name="client[partner_name]" id="partner_name" />
  <label for="client[address]">Address: </label>
  <input type="text" name="client[address]" id="client_address" />
  <label for="client[children]">Number of Children: </label>
  <input type="text" name="client[children]" id="client_children" />
  <input type="submit" value="Add Client" id="submit" />

  <!--space here for a simulataneous add birth form!-->

</form>
